# Archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Directorio virtualenv/entorno virtual
venv/
env/
backend/mi_entorno_entorno_virtual/Lib/*
node_modules
*.pyc

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Carpeta donde se almacenan archivos de registro o datos generados
logs/
data/
backend/mi_entorno_entorno_virtual/Lib/*
backend/mi_entorno_entorno_virtual/*
